<div id="hero">
	<div id="descText">
		<h1>Pets are family.</h1>
		<h2>Join PetPass now to benefit from the support of your local community and government.</h2>
	</div>
</div>
<div class="new_owner_form">
	<%= render 'form' %>
</div>
</div>
<div id="winset">
	<div id="imgThree" class="right img"></div>
	<div class="left winText">
		<h2>Safe Pets Make Safe Neighborhoods</h2>
		<p>Owners can manage their pet's account and post information about their pet for review by vet clinics and government officials.</p>				
	</div>
	<div id="imgOne" class="right img"></div>
	<div class="right winText">
		<h2>Pet Services at Your Fingertips</h2>
		<p>In the event of a lost, sick, or found pet, the PetPass online and mobile network can respond more quickly than traditional fliers and faxes.</p>	
	</div>
	<div>
	<div id="imgTwo" class="left img"></div>
	<div class="left winText">
		<h2>Connecting People Who Care</h2>
		<p>PetPass helps pet owners ensure their pet's health and wellness by connecting them with people and professionals who can help.</p>		
	</div>
</div>
