<h4 class="h4"><%= @user.full_name %>, </h4>
<strong>Welcome to Petpass!</strong> - We care about pets! That is why we started Petpass. We believe that pets and neighborhoods are safer if pets are licesnsed with their municipalities, and we think this process should be easy, online, and as automatic as possilbe. Petpass helps you manage your pet's licenses and medical information from anywhere. Login to view your pet's data from the kennel, the vet, or the humane society.
<br />
<br />
<strong>We'll Remind You</strong> - Its not easy to remeber to relicence your pet every year, or even to get a Rabies vaccine update. Don't worry! We'll remind you! To start out remember to  <strong>upload proof of RABIES Vaccination</strong> and <strong>proof of Spayed or Neutered</strong> to your pet's record on Petpass. 
<br />
<br />

